antoinequarroz.ch {
	redir https://www.antoinequarroz.ch{uri} permanent
}

www.antoinequarroz.ch {
	encode zstd gzip
	header {
		Content-Security-Policy "base-uri 'self'; frame-ancestors 'none'; object-src 'none'"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		-Server
	}
	reverse_proxy web:3000
}
